@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  padding: 4px;
}

@layer components {
  .topbarmenuicons {
    @apply flex justify-center content-center min-w-16 grow-0 h-full items-center hover:rounded-md hover:bg-gray-200;
  }
  .laneitem {
    @apply flex justify-center content-center min-w-16 grow-0 h-full items-center hover:rounded-md hover:bg-gray-200;
  }
}
